@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background: #0a0e17;
  color: white;
  overflow-x: hidden;
}
